<h1 style="text-align: center;">Contact</h1>

<%= column_chart @data_contact %>

<h1 style="text-align: center;">Quote</h1>

<%= column_chart @data_quote %>

<h1 style="text-align: center;">Customer</h1>

<%= column_chart @data_customer %>

