

  <hr class="m-0" /><!-- 1px line separator -->

        <!-- Observation elevator -->
  <section id="observation-elevator">
    <div class="container text-center">
      <div class="heading-title heading-dotted text-center">
        <h2>Commercial</h2>
      </div>

      <div class="row text-left">

        <div class="col-sm-8">
          <%= image_tag "_rocket/commercial-page/1-observation-elevator-exporter.jpeg" %>
        </div>

        <div class="col-sm-4">
          <h3 class="fw-300"><span>Observation</span> Elevator</h3>
        
          <p>Sail Sightseeing (observation) Elevator perfectly integrates the passenger elevator and panoramic functions, allowing passengers to use the elevator for a more open view while taking the elevator. A variety of car designs provide customers with more choices suitable for buildings. </p>
          
          
          
          <hr />

          <ul class="list-unstyled list-icons">
            <li><i class="fa fa-check"></i> Allows the passengers to view the surroundings while traveling from one floor to another. It is one of the highly recommended facilities in public places.</li>
            <li><i class="fa fa-check"></i> Transparent windows which provide the outside view enrich the prestige of any building.</li>
            <li><i class="fa fa-check"></i> Excellent addition to all types of buildings such as hotels, shopping complexes, office buildings, hospitals, towers etc.</li>
            <li><i class="fa fa-check"></i> Allows the vision of outside, the anxiety or claustrophobia can be handled easily. </li>
          </ul>

        </div>
      </div>

    </div>
  </section>
  <!-- /Observation elevator-->


  <!-- Traction elevator -->
  <section id="traction-elevator">
            <div class="container text-center">

                <div class="row text-left">

                    <div class="col-sm-8">
                      <%= image_tag "_rocket/commercial-page/2-tractor-elevator-skylon-tower-resize.jpeg" %>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="fw-300"><span>Traction</span> Elevator</h3>
                    
                        <p>Traction elevators are the most common type of elevators. Elevator cars are pulled up by means of rolling steel ropes over a deeply grooved pulley, commonly called a sheave in the industry. The weight of the car is balanced by a counterweight since 1900. Sometimes two elevators are built so that their cars always move synchronously in opposite directions, and are each other's counterweight. </p>
                        
                        
                        
                        <hr />

                        <ul class="list-unstyled list-icons">
                            <li><i class="fa fa-check"></i> The cab is raised and lowered by traction steel ropes or belts on a pulley system. </li>
                            <li><i class="fa fa-check"></i> These elevators uses less energy than hydraulic elevators.</li>
                            <li><i class="fa fa-check"></i> Serve mid to high-rise buildings.</li>
                            <li><i class="fa fa-check"></i> The ride is smoother than hydraulic elevators. </li>
                        </ul>

                    </div>
                </div>

            </div>
  </section>
  <!-- /Traction elevator-->


  <!-- Hydraulic elevator -->
  <section id="hydraulic-elevator">
            <div class="container text-center">

                <div class="row text-left">

                    <div class="col-sm-8">
                      <%= image_tag "_rocket/commercial-page/3-hydraulic-elevator-resize.jpeg" %>
                    </div>

                    <div class="col-sm-4">
                        <h3 class="fw-300"><span>Hydraulic</span> Elevator</h3>
                    
                        <p>Unlike traction systems, hydraulic elevators don’t use overhead hoisting machinery. Instead, these elevators lift a cab by using a fluid-driven piston that is mounted inside of a cylinder. The necessary fluid has traditionally been oil-based but can be replaced with vegetable oil to decrease the environmental impact. </p>
                        
                        
                        
                        <hr />

                        <ul class="list-unstyled list-icons">
                            <li><i class="fa fa-check"></i> Hydraulic elevators are most often found in buildings that serve up to five stories because they operate at slower speeds than other types of elevators — typically 150 ft./min. or less. </li>
                            <li><i class="fa fa-check"></i> These elevators are more affordable to install than traction elevators and less expensive to maintain and repair.</li>
                            <li><i class="fa fa-check"></i> They are better for transporting heavy loads.</li>
                            <li><i class="fa fa-check"></i> Above-ground models available with or without machine rooms (pre-engineered only). </li>
                        </ul>

                    </div>
                </div>

            </div>
  </section>
  <!-- /Hydraulic elevator-->


  <!-- Freight elevator -->
  <section id="freight-elevator">
            <div class="container text-center">

                <div class="row text-left">

                    <div class="col-sm-8">
                      <%= image_tag "_rocket/commercial-page/4-freight-elevator-resize.jpeg" %>

                    </div>

                    <div class="col-sm-4">
                        <h3 class="fw-300"><span>Freight</span> Elevator</h3>
                    
                        <p>RocketElevators has significant experience manufacturing, installing and maintaining a wide assortment of freight elevators, both standard and custom designs. RocketElevators' engineering and manufacturing departments develop some of the most robust freight elevators in the industry. </p>
                        
                        
                        
                        <hr />

                        <ul class="list-unstyled list-icons">
                            <li><i class="fa fa-check"></i> Traction: Speeds ranging from 0.5 to 1.75 metres per second. </li>
                            <li><i class="fa fa-check"></i> Traction: Capacities from 910 to 9,000 kilograms and beyond. </li>
                            <li><i class="fa fa-check"></i> Traction: Microprocessor-based dispatching and state-of-the-art VVVF AC motor control. </li>
                            <li><i class="fa fa-check"></i> Hydraulic: Speeds ranging from 0.4 to 0.75 metres per second. </li>
                            <li><i class="fa fa-check"></i> Hydraulic: Capacities from 900 to 20,000 kilograms and beyond. </li>
                            <li><i class="fa fa-check"></i> Hydraulic: Material lifts (freight platform lifts) also available. </li>
                        </ul>

                    </div>
                </div>

            </div>
  </section>
  <!-- /Freight elevator-->

