			<hr class="m-0" /><!-- 1px line separator -->

            <!-- Vacuum Home Elevator -->
			<section id="vacuum-home">
				<div class="container text-center">
					<div class="heading-title heading-dotted text-center">
						<h2>Residential</h2>
					</div>

					<div class="row text-left">

						<div class="col-sm-8">
							<%= image_tag("_rocket/residential-page/1-vacuum-elevator-resize.jpeg", :alt => "Vacuum home elevator") %>
						</div>

						<div class="col-sm-4">
							<h3 class="fw-300"><span>Vacuum</span> Home Elevator</h3>
						
							<p>Rocket Elevators residential elevators are different in every way from traditional designs. This leads many consumers to question what exactly they do differently, and why a vacuum elevator is a better solution for the home than a traditional weights-and-pulleys lift.</p>
							<p>Here is a quick look at some of the clear advantages vacuum residential elevators have over their older cousins:</p>
							
							
							<hr />

							<ul class="list-unstyled list-icons">
								<li><i class="fa fa-check"></i> No need for excavation, a pit, machine room, or hoist. Vacuum elevators run entirely on self-contained mechanics.</li>
								<li><i class="fa fa-check"></i> Total safety. In the event of a power outage, the lift floats softly to the ground on a cushion of air and automatically opens the lower door.</li>
								<li><i class="fa fa-check"></i> Eco-friendly. Vacuum elevators use minimal electricity on the ascent and none on the descent. It’s all about gravity.</li>
								<li><i class="fa fa-check"></i> Low maintenance. Our lifts need their main seal replaced once every five years or 15,000 lifts. That’s all.</li>
								<li><i class="fa fa-check"></i> Smooth, quiet operation. Installing a vacuum elevator is the least intrusive method of handling a vertical mobility issue in your home.</li>
							</ul>

						</div>
					</div>

				</div>
			</section>
			<!-- /Vacuum Home Elevator -->


			<!-- Apartment Building Elevetor -->
			<section id="apartment-elevator">
				<div class="container text-center">

					<div class="row text-left">

						<div class="col-sm-8">
							<%= image_tag("_rocket/residential-page/2-apartment-building-elevator-resize.jpeg", :alt => "Apartment building elevator") %>
						</div>

						<div class="col-sm-4">
							<h3 class="fw-300"><span>Apartment</span> Building Elevator</h3>
						
							<p>Gearless elevators with or without machine room, to make housing accessible to everyone. Quiet elevators that provide comfort and convenience. Provided with the latest technology, incorporating LED lighting and automatic switch-off systems when elevator is not in use, thereby improving energy efficiency for the elevators and respecting the environment.</p>
							
							
							
							<hr />

							<ul class="list-unstyled list-icons">
								<li><i class="fa fa-check"></i> Available with or without a machine room.</li>
								<li><i class="fa fa-check"></i> High efficiency for housing. Optimal use of space and the latest direct drive technology (Gearless).</li>
								<li><i class="fa fa-check"></i> The basic solution. The latest technology in an affordable and functional version.</li>
								<li><i class="fa fa-check"></i> Completely customisable, maximum flexibility with better performance.</li>
								
							</ul>

						</div>
					</div>

				</div>
			</section>
			<!-- /Apartment Building Elevetor -->
