<% provide :head_tags do %>
  <script>
    const key = "<%= ENV['AZURE_KEY'] %>"
  </script>

<% end %>
<section>
  <div class="container text-center">
    <div class="heading-title heading-dotted text-center">
      <h2>Speech Transcription</h2>
    </div>
    <div id="content" class='container'>
      <div class='d-flex justify-content-center'>
        <form>
          <div>
            <label>Language:</label>
            <select id="languageOptions">
              <option value="en-CA">English - CA</option>
              <option value="en-GB">English - GB</option>
              <option value="en-US" selected="selected">English - US</option>
              <option value="fr-CA">French - CA</option>
              <option value="fr-FR">French - FR</option>
              <option value="pt-BR">Portuguese - BR</option>
            </select>
          </div>
          <label>Input:</label>
          <select id="inputSource">
            <option value="Mic" selected="selected">Microphone</option>
            <option value="File">Audio File</option>
          </select>
          <select id="microphoneSource" style="display:none">
          </select>
          <input type="file" id="filePicker" accept=".wav" style="display:none" />
          <label>Recognize Single Phrase:</label>
          <button id="speechsdkStartRecognizeOnceAsync" type="button" class='btn btn-primary'>START</button>
          <button id="speechsdkStopRecognizeOnceAsync" type="button" class='btn btn-danger' disabled="disabled">STOP</button></br></br>
          <label>Continuous Speech Recognition:</label>
          <button id="speechsdkStartContinuousRecognition" type="button" class='btn btn-primary'>START</button>
          <button id="speechsdkStopContinuousRecognition" type="button" disabled="disabled" class='btn btn-danger'>STOP</button></br></br>
          <label>Speech Translation:</label>
          <button id="speechsdkStartContinuousTranslation" type="button" class='btn btn-primary'>START</button>
          <button id="speechsdkStopContinuousTranslation" type="button" disabled="disabled" class='btn btn-danger'>STOP</button></br></br>
          <select id="languageTargetOptions">
            <option value="Microsoft Server Speech Text to Speech Voice (de-DE, Hedda)">German - DE</option>

            <option value="Microsoft Server Speech Text to Speech Voice (en-CA, Linda)">English - CA</option>

            <option value="Microsoft Server Speech Text to Speech Voice (en-GB, Susan, Apollo)">English - GB</option>


            <option value="Microsoft Server Speech Text to Speech Voice (en-US, ZiraRUS)">English - US</option>

            <option value="Microsoft Server Speech Text to Speech Voice (es-ES, Laura, Apollo)">Spanish - ES</option>

            <option value="Microsoft Server Speech Text to Speech Voice (es-MX, HildaRUS)">Spanish - MX</option>

            <option value="Microsoft Server Speech Text to Speech Voice (fr-CA, Caroline)">French - CA</option>

            <option value="Microsoft Server Speech Text to Speech Voice (fr-FR, Julie, Apollo)">French - FR</option>

            <option value="Microsoft Server Speech Text to Speech Voice (it-IT, LuciaRUS)">Italian - IT</option>

            <option value="Microsoft Server Speech Text to Speech Voice (ja-JP, Ayumi, Apollo)">Japanese - JP</option>

            <option value="Microsoft Server Speech Text to Speech Voice (pt-BR, HeloisaRUS)" selected="selected">Portuguese - BR</option>
          </select>
          <label for="voiceOutput">voice output
            <input id="voiceOutput" type="checkbox" checked>
          </label>
          <label>Results: </label>
          <textarea id="phraseDiv" style="display: inline-block;width:800px;height:200px"></textarea>
          <label>Status: </label>
          <textarea id="statusDiv" style="display: inline-block;width:800px;height:200px;overflow: scroll;white-space: nowrap;"></textarea>
        </form>
      </div>
    </div>
  </div>
</section>
<script>
  function Initialize(onComplete) {
      if (!!window.SpeechSDK) {
          onComplete(window.SpeechSDK);
      }
  }
</script>
